<head>
    <link rel="stylesheet" href="/orderSubmit/style.css" data-inline>
</head>
<body>
    <div class="container">
        <div class="content">        
            <p class="greeting-header">Guten Tag <%= name %></p>
            <div class="message">
                Danke für Ihre Bestellung!                
            </div>
            <div class="greeting-footer">
                Mit freundlichen Grüßen!<br>
                Ihr DENT Exchange Team
            </div>
        </div>
        <div class="footer">
            Dies ist eine automatisch erstellte E-Mail. Bitte nicht auf diese E-Mail antworten. Wenn Sie Fragen haben, schicken Sie bitte eine Nachricht an test@test.de oder melden Sie sich telefonisch unter 0123456789.
        </div>
    </div>
</body>