@import "../../../styles/variables.scss";

body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    min-height: 100vh;
    -webkit-transition: all 0.5s $transitionEasing2;
    -moz-transition: all 0.5s $transitionEasing2;
    -o-transition: all 0.5s $transitionEasing2;
    transition: all 0.5s $transitionEasing2;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: rgba($gray1, 0.25);
    background-image: linear-gradient(160deg, rgba(0,123,60,0.2) 0%, rgba(0,0,38,0.2) 100%);
    border-right: solid 1px rgba($darkBlue, 0.1);
    -webkit-transition: all 0.5s $transitionEasing2;
    -moz-transition: all 0.5s $transitionEasing2;
    -o-transition: all 0.5s $transitionEasing2;
    transition: all 0.5s $transitionEasing2;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
    max-width: 1670px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.topbar {
    min-height: 56px;
    padding-right: 16px;

    h1 {
        @include font1();
        text-align: center;
        margin: 12px;

        span {
            animation: page_title;
            animation-duration: 2.0s;
            animation-timing-function: ease-in-out;
        }
    }

    .burger-button-wrapper {
        padding: 14px;
        white-space: nowrap;
        flex-direction: row;
        display: flex;

        &:hover {
            cursor: pointer;
        }

        .burger-button {
            @include iconButton("../../../assets/icon-navigation.svg");
            transform: rotateY(180deg);
            transition: transform 1.0s $transitionEasing2;
        }

        .cart-button-wrapper {
            @include font2();

            .cart-button {
                @include iconButton("../../../assets/button-cart.svg");
                margin-left: 4px;
                border-radius: 4px;
            }

            span {
                padding-left: 4px;
            }
        }
    }

    .user-amount {
        text-align: right;
        @include font2();
        padding: 0;

        .icon-users {
            vertical-align: middle;
            background-image: url("../../../assets/icon-users.svg");
            width: 24px;
            height: 24px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
}

#wrapper.toggled {
    .topbar {
        .burger-button {
            transform: rotateY(0deg);
        }
    }
}

@media(min-width: 768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #wrapper {
        .topbar {
            .user-amount {
                padding: 14px;
            }

            .burger-button-wrapper {
                padding: 14px 0 14px 44px;
            }
        }
    }
}
