<head>
    <link rel="stylesheet" href="/withdrawalForProducer/style.css" data-inline>
</head>
<body>
    <div class="container">
        <h1>edition bohemica</h1>
        <p><b>Hallo Andreas!</b></p>
        <p>Über das Widerrufsformular auf der Netzseite ist ein Widerruf eingegangen:</p>
        <div class="row">
            <div class="col-50">Name des Kunden</div>
            <div class="col-50"><%= name %></div>
        </div>
        <div class="row">
            <div class="col-50">Bestellnummer</div>
            <div class="col-50"><%= orderId %></div>
        </div>
        <div class="row">
            <div class="col-50">E-Mail des Kunden</div>
            <div class="col-50"><%= customersEmail %></div>
        </div>
        <p>Der Kunde hat automatisch eine Eingangsbestätigung per E-Mail erhalten. Bitte erstatten Sie geleistete Zahlungen unverzüglich, spätestens binnen vierzehn Tagen.</p>
        <p class="footer">
            Liebe Grüße von deiner Internetseite und Sascha ;)
        </p>
    </div>
</body>
