<head>
    <link rel="stylesheet" href="/contact/style.css" data-inline>
</head>
<body>
    <div class="container">
        <h1>edition bohemica</h1>
        <p><b>Hallo Andreas!</b></p>
        <p>Du hast eine neue Nachricht über dein Kontaktformular erhalten:</p>
        <pre><%= message %></pre>
        <p>
            <b>Absender:</b> <%= sendersEmail %>
        </p>
        <p class="footer">
            Liebe Grüße von deiner Internetseite und Sascha ;)            
        </p>
    </div>
</body>