@import "./variables";

.btn 
{
    @include font3();
    height: 28px;
    padding: 0px 16px;
    span.action
    {
        vertical-align: top;
        margin: 1px 0 0 0;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.btn-primary
    {
        &:hover
        {
            background-color: rgba( $darkBlue, 0.7 );
        }
    }

    &.btn-secondary
    {
        color: $darkBlue;
        border: none;
        background: rgba($darkBlue, 0.1);
        &:hover
        {
            background: rgba($darkBlue, 0.15);
        }
    }
}