
//  Mark: Transitions

$transitionEasing: cubic-bezier(.1,.5,.2,1);
$transitionEasing2: cubic-bezier(.64,.41,0,1.36);

//  Mark: Colors

//  i.e. background-color: rgba( $red1, 0.8 );

$darkBlue: #000026;

$gray1: #E0E1E9;

//  Mark: Fonts

//  i.e. div { @include fontSmall($fontSize: 20px); }

// MAIN HEADLINE
@mixin font1( $lineHeight: 32px, $fontSize: 22px, $color: $darkBlue, $fontWeight: bold, $letterSpacing: 0.0px, $fontStyle: italic )
{
    line-height: $lineHeight;
    font-size: $fontSize;
    color: $color;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
    font-family: Verdana, sans-serif;
    font-style: $fontStyle;
}

// SECOND HEADLINE
@mixin font4( $lineHeight: 32px, $fontSize: 18px, $color: $darkBlue, $fontWeight: bold, $letterSpacing: 0.0px )
{
    line-height: $lineHeight;
    font-size: $fontSize;
    color: $color;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
    font-family: Verdana, sans-serif;
}

// MAIN TEXT
@mixin font2( $lineHeight: 24px, $fontSize: 14px, $color: $darkBlue, $fontWeight: 400, $letterSpacing: 0.0px )
{
    line-height: $lineHeight;
    font-size: $fontSize;
    color: $color;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
    font-family: Verdana, sans-serif;
}

// MAIN SMALL TEXT
@mixin font5( $lineHeight: 20px, $fontSize: 12px, $color: $darkBlue, $fontWeight: 400, $letterSpacing: 0.0px )
{
    line-height: $lineHeight;
    font-size: $fontSize;
    color: $color;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
    font-family: Verdana, sans-serif;
}

// BUTTON TEXTS
@mixin font3( $lineHeight: 28px, $fontSize: 12px, $color: white, $fontWeight: bold, $letterSpacing: 0.0px )
{
    line-height: $lineHeight;
    font-size: $fontSize;
    color: $color;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
    font-family: Verdana, sans-serif;
}


//  Mark: Boxes

//  i.e. div { @include box(); }

@mixin box( $border: none, $borderRadius: 5px, $boxShadow: (0 0 2px rgba(0,0,0,0.14), 0 0 11px rgba(0,0,0,0.05)))
{
    border: $border;
    border-radius: $borderRadius;  
    box-shadow: $boxShadow;  
}

@mixin overlayBox( $border: none, $borderRadius: 4px, $boxShadow: 0 10px 30px rgba(black, 0.25))
{
    border: $border;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
}